.Login {
    margin: 20px auto;
    width: 80%;
    text-align: center;
    box-shadow: 0 2px 3px #ccc;
    border: 1px solid #eee;
    padding: 10px;
    box-sizing: border-box;

}
.Heading {
    padding-top: 40px;
        color:rgb(6, 22, 114);
        font-family: 'Ubuntu', sans-serif;
        font-weight: bold;
        font-size: 23px;
}
@media (min-width: 600px) {
    .Login {
        width: 500px;
    }
}